body{
    background-image: url("test.jpg");
    background-color: #cccccc;
}

div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 150px;
    color: white;
}